matrix:
  include:
    - os: linux
      env: 
        - BUILD_TARGET=linux 
      language: cpp
      sudo: required
    - os: linux
      env:
        - BUILD_TARGET=android_cmake
      language: android
      sudo: required
    - os: osx
      env: 
        - BUILD_TARGET=mac_cmake
      language: cpp
      osx_image: xcode9.3
      sudo: required
    - os: osx
      env: 
        - BUILD_TARGET=ios_cmake
      language: cpp
      osx_image: xcode9.3
      sudo: required
      
before_install:
  - travis-scripts/before-install.sh

script:
  - travis-scripts/run-script.sh

cache: 
  bundler: true